@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300;400;500;600;700&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Funnel Display', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


@layer base {
    body {
        font-family: 'Funnel Display', sans-serif;
    }
}
@layer components {
    .btn-primary {
        @apply bg-black text-white px-6 py-3 rounded hover:bg-gray-800 transition;
    }

    .btn-secondary {
        @apply border px-6 py-3 rounded hover:bg-gray-100 transition;
    }

    .section-title {
        @apply text-3xl font-bold mb-6;
    }

    .card {
        @apply bg-white p-6 rounded-xl border border-gray-100 shadow-sm text-center transition hover:shadow-md;
    }

    .card-2{ 
        @apply bg-white rounded-2xl border border-gray-100 shadow-sm 
               p-6 flex flex-col items-center text-center 
               transition hover:shadow-md hover:-translate-y-1;
    }

    .icon {
        @apply text-blue-600 text-5xl mb-3;
    }

    .step {
        @apply flex items-center gap-4;
    }

    .step span {
        @apply bg-blue-600 text-white w-8 h-8 flex items-center justify-center rounded-full font-semibold;
    }

    .input-field {
        @apply w-full border border-gray-200 rounded-lg px-4 py-2 
               focus:outline-none focus:ring-2 focus:ring-blue-500;
    }
}
